# <Guide>
# docker-compose -p flask-ai up -d --build
# docker builder prune --all --force : 캐시초기화
# docker exec -it {컨테이너id} /bin/bash : 터미널 오픈

version: "3.9"

services:
  app:
    build:
      context: .
    ports:
      - "${FLASK_PORT:-5000}:${FLASK_PORT:-5000}"
    volumes:
      - ./app:/usr/src/app
      - ./uploads:/usr/src/uploads
      - ./data:/usr/src/data
      - ./logs:/usr/src/logs
    environment:
      - FLASK_PORT=${FLASK_PORT:-5000}
      - FLASK_DEBUG=1
    restart: unless-stopped