# 1. /etc/hosts Setting
#  127.0.0.1 chat-test-local.picksco.com
#  127.0.0.1 picktalk-local.picksco.com
# 
# 2. docker file link
#   ln -s _docker/docker-compose.yml docker-compose.yml
#
# 3. set .env
#   cp _docker/.env.example .env
#   vi .env (set your variable)
#
# 3. Source Tree
#   ./_docker/
#   ./docker-compose.yml (symbolic link -> _docker/docker-compose.yml)
#   ./.env
#   ./sock/
#   ./backend/
#   ./web/
# 4. init
#   cd _docker
#   init.sh
# 5. build
#   docker-compose -p flask_ai_app up -d --build

version: "3.9"

services:
  flask_ai:
    build:
      context: /_docker/
    container_name: flask_ai_app
    ports:
      - "${FLASK_PORT:-5000}:${FLASK_PORT:-5000}"
    volumes:
      - ./app:/usr/src/app
      - ./uploads:/usr/src/uploads
      - ./data:/usr/src/data
      - ./logs:/usr/src/logs
    environment:
      - FLASK_PORT=${FLASK_PORT:-5000}
      - FLASK_DEBUG=1
    restart: unless-stopped